.reportInputs
{
	padding: 30px 100px;
}
.reportInputs
{
	display: flex;
	justify-content: space-around;
}
.getproviderInfoSection{}

.getproviderInfoSection div
{
	padding: 10px 0px;
}
.getproviderInfoSection .title
{
	font-size: 18px;
}
.getproviderInfoSection .btn
{
	display: flex;
	justify-content: center;
}
.logInWithProvider
{
	display: flex;
	justify-content: center;
}

.reportHeader{
	background-color: #2D95EC;
	color: white;
	display: flex;
	flex-wrap: wrap;
	height: 80px;
	justify-content: space-around;
	align-items: center;
}
.eventReport{
	text-transform: uppercase;
	text-align: center;
}
.eventName{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}
.serviceHeader
{
	height: 55px;	
	color: black;
}
.serviceDateContainer
{
	width: 124px;	
	border-style: solid;
	border-color: #41BABF;
	border-width: 0px 3px 0px 0px;
	height: 55px;
}
.serviceDateSection
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.serviceDateTag
{
	font-weight: bold;
}
.serviceDate
{
}
.serviceName
{
	
}
.serviceNameContainer
{
	font-size: 24px;		
	height: 55px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.reportDateContainer
{
	/*display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;*/
	width: 124px;
	border-style: solid;
	border-color: #41BABF;
	border-width: 0px 0px 0px 3px;
	height: 55px;
}
.reportDateSection
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.reportDateTag
{
	font-weight: bold;
}
.reportDate
{	
}

.infoHeader
{
	color: white;
	background-color: #41BABF;
	height: 28px;	
	display: flex;
	justify-content: center;
	align-items: center;
}
.infoTag
{
	font-weight: bold;
	font-size: 24px;
	text-transform: uppercase;
}