<!-- <p>
  yt-test works!
</p>
<button (click)="check()">
	test
</button>
<button (click)="getWords()">
	face
</button>
<br>
<button (click)="getWords()">
	ejecutar
</button>
<br>
<hr>
<input type="text" name="" #videoId placeholder="video_id" value="NzQ1RKv9sX0">
<button (click)="getVideoInfo(videoId.value)">
	get Info 
</button>
<br>
<button (click)="logInWithGoogle()">
	con google
</button>
<br>
<button (click)="userTest()">
	check user
</button>
<br>
<button (click)="signOut()">
	log out
</button>
<br>
<button (click)= "todayTest()">
	date
</button> -->


<div class="reportInputs">

	<div class="getproviderInfoSection">
		<div class="title">
			<strong> Get Youtube Info:</strong>
		</div>
		<div  *ngIf="googlePermission">
			<div class="inputSection">
				Youtube Video ID: <input type="text" name="" #videoId placeholder="video_id" value="NzQ1RKv9sX0">
			</div>
			<div class="btn">
				<button (click)="getVideoInfo(videoId.value)">
					GET
				</button>
			</div>
		</div>
		<div class="logInWithProvider" *ngIf="!googlePermission">
			<button>
				Log In
			</button>
		</div>
	</div>

	

	<div class="getproviderInfoSection">
		<div class="title">
			<strong> Get Facebook Info:</strong>
		</div>
		<div *ngIf="facebookPermission">
			<div class="inputSection">
				Facebook Video ID: <input type="text" name="" #videoId placeholder="video_id" value="">
			</div>
			<div class="btn">
				<button (click)="getVideoInfo(videoId.value)">
					GET
				</button>
			</div>
		</div>
		<div class="logInWithProvider" *ngIf="!facebookPermission">
			<button>
				Log In
			</button>
		</div>	
	</div>
</div>

<div class="reportHeader">
	<div class="bronzeLogo">
		logo here
	</div>
	<div class="eventReport">
		<div class="eventName">
			Test Event Name
		</div>
		<div class="reportType">
			Live Stream Report
		</div>
	</div>
</div>
<div class="serviceHeader">
	<table style="width: 100%;">
		<tr>
			<td class="serviceDateContainer">
				<div class="serviceDateSection">
					<div class="serviceDateTag">
						Service Date
					</div>
					<div class="serviceDate">
						9-21-18
					</div>
				</div>		
			</td>
			<td class="serviceNameContainer">
				<div class="serviceName">
					Test Torah and Poetry Shabbat Service
				</div>
			</td>	
			<td class="reportDateContainer">
				<div class="reportDateSection">
					<div class="reportDateTag">
						Prepared
					</div>
					<div class="reportDate">
						{{dateNow}}
					</div>	
				</div>				
			</td>
		</tr>			
	</table>	
</div>
<div class="viewsInfo">
	<div class="infoHeader">
		<div class="infoTag">
			Views
		</div>	
	</div>
</div>
<div class="LocationsInfo">
	<div class="infoHeader">
		<div class="infoTag">
			Locations
		</div>	
	</div>
</div>
<div class="DemographicsInfo">
	<div class="infoHeader">
		<div class="infoTag">
			Demographics
		</div>	
	</div>
</div>
<div class="FacebookLiveInfo">
	<div class="infoHeader">
		<div class="infoTag">
			Facebook Live
		</div>	
	</div>
</div>